<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='utf-8'>
  <title>Deven Rathod -Free Movie Server</title>
  <link rel="stylesheet" href="style.css"/>
 <script src="script.js"></script>

    
</head>

<div class="c2">
<marquee><p>Made With 💙
 by Deven </p></marquee>
</div>
<body>
<header>
  <div class="nav">
  <hr/>
<nav>

  <ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="https://api.whatsapp.com/send?phone=+911234567890&text=please%20add%20the%20movie">Request movie</a></li>
  <li><a href="https://api.whatsapp.com/send?phone=+911234567890&text=want%20to%20contact%20you">Contact</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="upload.html">Upload Movies</a></li>

   </ul>

</nav>
<hr/>
</div>
  <h1 class="headh1">Welcome To Free Movie Server</h1>
     <h2 class="headh1">click on Show Button to see all movies</h2>
     
  <button class="nbtn" onclick="filterSelection('all')">Show</button>
  
  </header>


<!-- movie upload code  -->
<div class="cards">
<a href="http://<%= currentUri %>:<%= currentPort %>/movie/<%= first %>"><div class="row">
  <div class="column nature">
    <div class="content">
      <img src="assets/1.jpg" alt="Mountains" style="width:100%">
      <h4>Evil Dead 2013</h4>
    </div>
    </a>
  </div>
  <a href="http://<%= currentUri %>:<%= currentPort %>/movie/<%= second %>"><div class="row">
  <div class="column nature">
    <div class="content">
      <img src="assets/2.jpg" alt="Lights" style="width:100%">
      <h4>Annabelle Creation (2017)</h4>
    </div>
  </div>
  <a href="http://<%= currentUri %>:<%= currentPort %>/movie/<%= third %>"><div class="row">
  <div class="column nature">
    <div class="content">
      <img src="assets/3.jpg" alt="Nature" style="width:100%">
      <h4>Insidious The Last Key (2018)</h4>
    </div>
  </div>
  <a href="http://<%= currentUri %>:<%= currentPort %>/movie/<%= fourth %>"><div class="row">
  <div class="column cars">
    <div class="content">
      <img src="assets/4.jpg" alt="Car" style="width:100%">
      <h4>The Conjuring 2 2016</h4>
    </div>
  </div>
  <a href="http://<%= currentUri %>:<%= currentPort %>/movie/<%= fifth %>"><div class="row">
  <div class="column cars">
    <div class="content">
      <img src="assets/5.jpg" alt="Car" style="width:100%">
      <h4>Dawn of Justice</h4>
    </div>
  </div>
  <a href="http://<%= currentUri %>:<%= currentPort %>/movie/<%= sixth %>"><div class="row">
  <div class="column cars">
    <div class="content">
      <img src="assets/6.jpg" alt="Car" style="width:100%">
      <h4>Suicide Squad</h4>
    </div>
  </div>
<!-- END GRID -->
</div>


  <!-- <footer>
    <div>
   Created by DevelopeSpot 
    </div>
  </footer> -->
</body>
</html>
